:root {
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #1c1917;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
